body{
    background:lightblue ;
    color: aliceblue;
    margin: 0px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 100px;
}
header{
    background: gray;
   border-bottom: 3px solid rgb(133, 133, 199);
   padding: 20px;
   color: aliceblue;
   font-size: 35px;
}
.chamada{
    background: gray;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 35px;
}
